.lumen-btn {
    display: inline-block;
    margin: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: solid;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    user-select: none;
    padding: 9px 12px 7px;
    border-width: 0 1px 4px 1px;
    font-size: 12px;
    height: 3em;
    text-transform: uppercase;
    color: white;
    overflow: visible;
    box-sizing: border-box;
}

.lumen-btn.large {
    padding: 12px 15px 10px;
    border-width: 0 1px 4px 1px;
    height: 4em;
}

.lumen-btn.small {
    padding: 0 6px;
    border-width: 0 1px 4px 1px;
    line-height: 1;
    height: 2em;
}

.lumen-btn.icon {
    width: 3em;
    height: 3em;
    border-radius: 3em;
}

.lumen-btn:hover {
    border-bottom-width: 3px;
}

.lumen-btn:active {
    border-bottom-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.lumen-btn.revert {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    background: white;
}

.lumen-btn.revert:hover {
    color: white;
}

.lumen-btn[disabled] {
    opacity: 0.7;
}

.lumen-btn[disabled] {
    margin-top: 0;
    border-bottom-width: 4px;
}

.lumen-btn-default,.lumen-btn-default.revert:hover {
    color: #555555;
    background-color: #eeeeee;
    border-color: #e2e2e2;
}

.lumen-btn-default:active {
    color: #555555;
    background-color: #c3c3c3;
    border-color: #a2a2a2;
}

.lumen-btn-primary,.lumen-btn-primary.revert:hover {
    background-color: #158cba;
    border-color: #127ba3;
}

.lumen-btn-primary:active {
    background-color: #106a8c;
    border-color: #052531;
}
.lumen-btn-success,.lumen-btn-success.revert:hover {
    background-color: #28b62c;
    border-color: #23a127;
}

.lumen-btn-success:active {
    background-color: #1f8c22;
    border-color: #0c390e;
}
.lumen-btn-info,.lumen-btn-info.revert:hover {
    background-color: #75caeb;
    border-color: #5fc1e8;
}

.lumen-btn-info:active {
    background-color: #48b9e5;
    border-color: #1984ae;
}
.lumen-btn-warning,.lumen-btn-warning.revert:hover {
    background-color: #ff851b;
    border-color: #ff7701;
}

.lumen-btn-warning:active {
    background-color: #e76b00;
    border-color: #c35b00;
}
.lumen-btn-danger,.lumen-btn-danger.revert:hover {
    background-color: #ff4136;
    border-color: #ff291c;
}

.lumen-btn-danger:active {
    background-color: #ff1103;
    border-color: #de0c00;
}

.lumen-btn-default.revert {
    color: #eeeeee;
    border-color: #e2e2e2;
}

.lumen-btn-default.revert:active {
    color: #555555;
    background-color: #c3c3c3;
    border-color: #a2a2a2;
}

.lumen-btn-primary.revert {
    color: #158cba;
    border-color: #127ba3;
}

.lumen-btn-success.revert {
    color: #28b62c;
    border-color: #23a127;
}

.lumen-btn-info.revert {
    color: #75caeb;
    border-color: #5fc1e8;
}

.lumen-btn-warning.revert {
    color: #ff851b;
    border-color: #ff7701;
}

.lumen-btn-danger.revert {
    color: #ff4136;
    border-color: #ff291c;
}

.lumen-btn-group {
    display: flex;
}

.lumen-btn-group .lumen-btn {
    border-radius: 0;
    border-right: none;
    border-left: none;
}

.lumen-btn-group>.lumen-btn:first-child:not(:last-child) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.lumen-btn-group>.lumen-btn:last-child:not(:first-child) {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-right: 1px;
}
