.lumen-dd {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border-radius: 4px;
    background-clip: padding-box;
    margin-top: 0;
    border-width: 0 1px 4px 1px;
    border-top-width: 1px;
    border: solid #e7e7e7;
}

.lumen-dd-item {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #999999;
    white-space: nowrap;
}

.lumen-dd-item:hover {
    color: #000000;
}

.lumen-dd-item a {
    text-decoration: none;
    color: #999999;
}

.lumen-dd-item a:hover {
    color: black;
}

.lumen-dd-line {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #999999;
    white-space: nowrap;
    border-top: solid 1px #999;
    width: 100%;
    box-sizing: border-box;
}

.hidden {
    display: none;
}